---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<header class="bg-white px-4 shadow-md">
  <nav class="flex items-center justify-between">
    <h2 class="m-0 text-xl">
      <a
        href="/"
        class="flex items-center gap-2 border-b-4 border-transparent px-2 py-4 font-mono text-black no-underline"
      >
        <Image
          src={logo}
          width={40}
          height={40}
          densities={[1, 2, 3]}
          quality={95}
          alt={SITE_TITLE}
          loading="eager"
          class="rounded-full"
        />
        {SITE_TITLE}
      </a>
    </h2>
    <div class="internal-links flex items-center gap-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links hidden gap-2 md:flex">
      <a
        href="mailto:irad.aharoni@gmail.com"
        class="flex border-b-4 border-transparent px-2 py-4 text-black no-underline"
      >
        <span class="sr-only">Send Me an Email</span>
        <Icon name="mdi:email" width="32" height="32" />
      </a>
      <a
        href="https://linkedin.com/in/iradaharoni"
        target="_blank"
        class="flex border-b-4 border-transparent px-2 py-4 text-black no-underline"
      >
        <span class="sr-only">Follow Me on LinkedIn</span>
        <Icon name="mdi:linkedin" width="32" height="32" />
      </a>
      <a
        href="https://github.com/iraddev"
        target="_blank"
        class="flex border-b-4 border-transparent px-2 py-4 text-black no-underline"
      >
        <span class="sr-only">Go to My GitHub repo</span>
        <Icon name="mdi:github" width="32" height="32" />
      </a>
    </div>
  </nav>
</header>
